* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

article {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  background-color: rgb(176, 207, 166);
  border: solid 3px rgb(85, 124, 71);
  border-radius: 10px;
}

h1 {
  padding: 1rem;
}

p,
div {
  margin: 1rem;
}

button {
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: antiquewhite;
  border-radius: 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
